language: node_js
node_js:
- '8'
#- '6'
before_install:
- npm config set spin false
before_deploy:
#- yarn test
- yarn build
deploy:
  provider: npm
  email: "alexkalinin.ru@gmail.com"
  api_key:
    secure: m6+dgJKYN/K5YeJtl/k0cWgoiOCl77TVr0AaI2WKTm9+0w0k/9/jmVx50i6GTeBrhjjCaDMUJ+sCL4koAALOfb16JNjLBPGnip0xeCMc2k6eMD3oekM8h70c/6ExTk/XqIN31PB/PQLy4kGKDmdZ23SPXliQyhM4+rw6dQTyIcFr5IzmsGMOUiuz7kkbnG4uOrzTi7zCJbId2tyiYIq5yTq53457WCzYf7/hp0fA7/LULH/tZOujZTYuXYKcNSvcHilKHd5xXukMl7msNXY85dlj2Nsfw4yFXVgsfd/r4QiLKHxx4WOLAUMz8UqPriYBJboDrAwggMhSndJkowUdWlJ86ZLXQQbCphIafCs4nICZ+CGWepcW1ln7JemJWl5ErpuUr27EvDLMPHwftyu4f0Tjg3NSBOty4fkEaO86YhZFZQd4+XyWSHFVxpgvr47vbs0Gp80FKmhYcSaJebIjrSM+pQfONZR4oq1iJwvugjqlzcNAq1wWYUvRBkzemaywqMGwm5O25FEyncT114ea9cIT/wzViU03eTXDSAmK7/5sm5FSQ6Hp0Urwe6Ffte5Zzdz7wkNmuj2SJIRlpQqmM87+VsFIouMJG+JgetqwKzTe5OZCtuz5pN7MtY/A+aDqC5fODHUHg7pIMMLRmkWqEY/8jaIb6rSlgMsdyiOKhVg=
  on:
    branch: master
    tags: true
