html{
  font-family: Arial, sans-serif;
  font-size: 14px;
}

p > button {
  background-color: #0B8AFF;
  border: 1px solid #0B7AFF;
  color: white;
  border-radius: 3px;
  padding: 7px 10px;
  outline: none;
  cursor: pointer;
  font-size: 14px;

  &:active{
    opacity: 0.95;
    color: #FFFFFFAA;
  }
  &:hover{
    opacity: 0.9;
  }
}

.customToast{
  background-color: #0B8AFF;
  border-radius: 2px;
  padding: 5px 20px;
}

.customButton{
  color: orange;
}

.customContainer{
    opacity: 0.5;
}